<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.macrochen.geminiworkflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B10FE6E-D990-4810-BAFB-AA3DDD428119</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEC0ED77-FC75-4D06-8913-02D00435CC7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B86BCB4-5CBE-449B-AD7A-3E0AC0B3E67E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B10FE6E-D990-4810-BAFB-AA3DDD428119</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>953C1404-8451-4150-9BFA-620CD1A88A82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CEF0AA7-AEBA-4C75-A7C8-DBF85A7C06E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CEF0AA7-AEBA-4C75-A7C8-DBF85A7C06E6</key>
		<array/>
		<key>EEC0ED77-FC75-4D06-8913-02D00435CC7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>953C1404-8451-4150-9BFA-620CD1A88A82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>macrochen</string>
	<key>description</key>
	<string>使用 Gemini API 解释文本</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AI 助手</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>select_mode_script.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select Prompt Mode</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B10FE6E-D990-4810-BAFB-AA3DDD428119</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>请输入关于 "{var:chosen_mode_title}"的内容</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>953C1404-8451-4150-9BFA-620CD1A88A82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>125</integer>
				<key>hotmod</key>
				<integer>12058624</integer>
				<key>hotstring</key>
				<string>↓</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B86BCB4-5CBE-449B-AD7A-3E0AC0B3E67E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>4</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>process_mode_query_script.py</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>处理中。。。</string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>9CEF0AA7-AEBA-4C75-A7C8-DBF85A7C06E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>chosen_mode_id</key>
					<string>{query}</string>
					<key>chosen_mode_title</key>
					<string>{var:selected_mode_title_internal}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EEC0ED77-FC75-4D06-8913-02D00435CC7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B10FE6E-D990-4810-BAFB-AA3DDD428119</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>5B86BCB4-5CBE-449B-AD7A-3E0AC0B3E67E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>953C1404-8451-4150-9BFA-620CD1A88A82</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>9CEF0AA7-AEBA-4C75-A7C8-DBF85A7C06E6</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>EEC0ED77-FC75-4D06-8913-02D00435CC7B</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>CLASH_PROXY_URL</key>
		<string>CLASH_PROXY_URL</string>
		<key>GEMINI_API_KEY_ALFRED</key>
		<string>GEMINI_API_KEY_ALFRED</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GEMINI_API_KEY_ALFRED</string>
		<string>CLASH_PROXY_URL</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
